## STRINGS METHODS

In [1]:
#Note: All string methods returns new values. They do not change the original string.(it is immutable..)

In [2]:
#capitalize()	Converts the first character to upper case
text = "hello, and welcome to my world."

x = text.capitalize()
x

'Hello, and welcome to my world.'

In [3]:
#casefold()	Converts string into lower case
text = "Hello, and Welcome to my world."

x = text.casefold()
x

'hello, and welcome to my world.'

In [4]:
#center()	Returns a centered string
text = "hello, and welcome to my world."
x=text.center(50)
x

'         hello, and welcome to my world.          '

In [5]:
#count()	Returns the number of times a specified value occurs in a string
Z="I love rose, rose is a king of flowers,and everyone loves rose"
x=Z.count("rose")
x

3

In [6]:
#encode()	Returns an encoded version of the string
N= "My name is St√•le"
x=N.encode()
x

b'My name is St\xc3\xa5le'

In [7]:
#endswith()	Returns true if the string ends with the specified value
text = "hello, and welcome to my world."
x=text.endswith('.')
x

True

In [8]:
#expandtabs()	Sets the tab size of the string
txt="H\tE\tL\tL\tO    W\tO\tR\tL\tD"
x=txt.expandtabs(3)
x

'H  E  L  L  O    W   O  R  L  D'

In [9]:
#find()	Searches the string for a specified value and returns the position of where it was found
text = "hello, and welcome to my world."
x=text.find("welcome")
x

11

In [10]:
#format()	Formats specified values in a string
txt = "My fovourite flower is {name:}"
print(txt.format(name = "rose"))

My fovourite flower is rose

In [11]:
#index()	Searches the string for a specified value and returns the position of where it was found
text = "Hello, welcome to my world."

x = text.index("to")
x

15

In [12]:
#isalnum()	Returns True if all characters in the string are alphanumeric
Z="Company12"
x=Z.isalnum()
x

True

In [13]:
#isalpha()	Returns True if all characters in the string are in the alphabet
Z="Company12"
x=Z.isalpha()
x

False

In [14]:
#isascii()	Returns True if all characters in the string are ascii characters
Z="Comapny12"
x=Z.isascii()
x

True

In [22]:
#isdecimal()	Returns True if all characters in the string are decimals
Z="Comapny123"
x=Z.isdecimal()
x

False

In [24]:
#isdigit()	Returns True if all characters in the string are digits
Z="company123" #123
x=Z.isdigit()
x

True

In [27]:
#isidentifier()	Returns True if the string is an identifier
S="Demo" #1demo
x=S.isidentifier()
x

False

In [29]:
#islower()	Returns True if all characters in the string are lower case
S="demo"
x=S.islower()
x

True

In [31]:
#isnumeric()	Returns True if all characters in the string are numeric
S="123"
x=S.isnumeric()
x

True

In [34]:
#isprintable()	Returns True if all characters in the string are printable
S="Demo123"
x=S.isprintable()
x

True

In [36]:
#isspace()	Returns True if all characters in the string are whitespaces
S="     "
x=S.isspace()
x

True

In [39]:
#istitle()	Returns True if the string follows the rules of a title
text = "Hello, Welcome to my World."
x=text.istitle()
x

False

In [40]:
#isupper()	Returns True if all characters in the string are upper case
text = "Hello, Welcome to my World."
x=text.isupper()
x

False

In [41]:
#join()	Converts the elements of an iterable into a string
myTuple = ("John", "Peter", "Vicky")

x = "*".join(myTuple)
x

'John*Peter*Vicky'

In [42]:
#ljust()	Returns a left justified version of the string
t = "banana"

x = t.ljust(50)

print(x, "is my favorite fruit.")

banana                                             is my favorite fruit.

In [44]:
#lower()	Converts a string into lower case
t="BANANA"
x=t.lower()
x

'banana'

In [46]:
#lstrip()	Returns a left trim version of the string
t="************Banana********"
x=t.lstrip("*")
x

'Banana********'

In [47]:
#maketrans()	Returns a translation table to be used in translations
txt = "Hello Siya!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Piya!

In [48]:
#partition()	Returns a tuple where the string is parted into three parts
Z= "I could watch movies all day"
x = Z.partition("movies")
x

('I could watch ', 'movies', ' all day')

In [50]:
#replace()	Returns a string where a specified value is replaced with a specified value
Z="I can watch 4 movies all day "
x=Z.replace("4","6")
x

'I can watch 6 movies all day '

In [51]:
#rfind()	Searches the string for a specified value and returns the last position of where it was found
Z="I can watch 4 movies and 4 web series in a day"
x=Z.rfind("4")
x

25

In [52]:
#rindex()	Searches the string for a specified value and returns the last position of where it was found
Z="I can watch 4 movies and 4 web series in a day"
x=Z.rindex("4")
x

25

In [55]:
#rjust()	Returns a right justified version of the string
t = "banana"
x = t.rjust(50)
print(x, "is my favorite fruit.")

                                            banana is my favorite fruit.

In [59]:
#rpartition()	Returns a tuple where the string is parted into three parts
Z="I love rose, rose is a king of flowers,and everyone loves rose"
x = Z.rpartition("rose")
x

('I love rose, rose is a king of flowers,and everyone loves ', 'rose', '')

In [63]:
#rsplit()	Splits the string at the specified separator, and returns a list
Z="I love rose, rose is a king of flowers,and everyone loves rose"
x = Z.rsplit(",")
x

['I love rose', ' rose is a king of flowers', 'and everyone loves rose']

In [64]:
#rstrip()	Returns a right trim version of the string
t="************Banana********"
x=t.rstrip("*")
x

'************Banana'

In [65]:
#split()	Splits the string at the specified separator, and returns a list
Z="I love rose, rose is a king of flowers,and everyone loves rose"
x = Z.split(",")
x

['I love rose', ' rose is a king of flowers', 'and everyone loves rose']

In [66]:
#splitlines()	Splits the string at line breaks and returns a list
Z="Thank you for the music\nWelcome to the jungle"
x=Z.splitlines()
x

['Thank you for the music', 'Welcome to the jungle']

In [67]:
#startswith()	Returns true if the string starts with the specified value
text = "hello, and welcome to my world."
x=text.startswith('h')
x

True

In [68]:
#strip()	Returns a trimmed version of the string
Z="                 banana             "
x=Z.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [69]:
#swapcase()	Swaps cases, lower case becomes upper case and vice versa
text = "hEllo, And welCome to My World."
x=text.swapcase()
x

'HeLLO, aND WELcOME TO mY wORLD.'

In [70]:
#title()	Converts the first character of each word to upper case
text = "hello, and welcome to my world."
x=text.title()
x

'Hello, And Welcome To My World.'

In [71]:
#upper()	Converts a string into upper case
text = "hello, and welcome to my world."
x=text.upper()
x

'HELLO, AND WELCOME TO MY WORLD.'

In [72]:
#translate()	Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [74]:
#zfill()	Fills the string with a specified number of 0 values at the beginning
Z="x"
x=Z.zfill(10)
x

'000000000x'